# .NET build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
*.dll
*.exe
*.app
*.pdb

# NuGet packages
*.nupkg
# The packages folder can be ignored if using PackageReference
packages/
# NuGet v3's global-packages folder
~/.nuget/packages

# Microsoft Visual Studio cache
.vs/
.vscode/

# Rider / JetBrains
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# DotCover
*.dotCover

# Logs
*.log

# Publish output
publish/
